<div id="FlashModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="FlashModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">                
                    <div class="modal-header">
                   <a class="close" data-dismiss="modal">×</a>
                   <center><h1>Scene Started!</h1></center>
                 </div>
                 <div class="modal-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<center>
								<div id="mdtimer">
								<b></b>
								<div style="font-size: large;">
								<b>Please Wait <span>15</span> seconds</b></div>
								</div>
							</center>							
						</div>
				    </div>
                </div>
                <div class="modal-footer">
                	<!-- Remove the close button
                	<center>
                   <button class="btn btn-danger btn-lg" data-dismiss="modal" aria-hidden="true">Close</button>
                   </center>
                  -->
                 </div>
              </div>
             </div>
</div>