<% provide(:title, 'About') %>

<!DOCTYPE html>
<html>
  <head>
    <title><% :title %>	</title>
  </head>
  <body>
    <h2>MonsterRemote</h2>

	MonsterRemote version = 1.5.1<br>
	<br>
	The MonsterRemote was created to have a smartphone enabled way to trigger the <a href="http://www.hauntsoft.com">MonsterShield</a> 
	prop controller.
	 <br><br>
	Read more at <a href="http://kendrickcoleman.com/index.php/Ruby-on-Rails-Projects/introducing-the-monsterremote-for-the-monstershield.html">Introducing the MonsterRemote for the MonsterShield </a>
	
    <br>
	
  	</p>
  </body>
</html>
	