<% provide(:title, 'About') %>

<!DOCTYPE html>
<html>
  <head>
    <title><% :title %>	</title>
  </head>
  <body>
    <h1>MONSTER PUSH</h1>
    <p>Monster Shield Version = TBD
		<br>
	MONSTER PUSH version 0.1<br>
	<br>
	The MONSTER PUSH was created to have a smartphone enabled way to trigger the <a href="http://www.hauntsoft.com">MonsterShield</a>.
	  This application utilizes Ruby on Rails to perform all necessary functions and to deliver a responsive experience. 
	<br>
This project was written by <a href="http://www.kendrickcoleman.com">Kendrick Coleman</a>.

  	</p>
  </body>
</html>
	