<% provide(:title, 'About') %>

<!DOCTYPE html>
<html>
  <head>
    <title><% :title %>	</title>
  </head>
  <body>
    <h2>MonsterRemote</h2>
    <p>MonsterShield Version = TBD
		<br>
	MonsterRemote version 0.1<br>
	<br>
	The MonsterRemote was created to have a smartphone enabled way to trigger the <a href="http://www.hauntsoft.com">MonsterShield</a> 
	prop controller.
	  
	This application utilizes Ruby on Rails to perform all necessary functions and to deliver a responsive experience. 
	<br>
	
  	</p>
  </body>
</html>
	