<% provide(:title, 'COMMUNCATIONS SETTING ERROR!') %>

<!DOCTYPE html>
<html>
  <head>
    <title><% :title %>	</title>
  </head>
  <body>
    <h2>COMMUNCATIONS SETTING ERROR!</h2>
    <p>
    You are receiving this page because your webserver cannot communicate with the MonsterShield controller. Please go to the 
    <%= link_to 'WebServer settings', :rasberry_pis %> page and change the Communications Port Setting.
	<br>
	
  	</p>
  </body>
</html>
	