<% provide(:title, 'Contact') %>

<!DOCTYPE html>
<html>
  <head>
    <title><% :title %>	</title>
  </head>
  <body>
    <h2>Contacts</h2>
    <p><center>
    	<b>Creator: Kendrick Coleman</b><br>
    	twitter: <a href="http://www.twitter.com/kendrickcoleman">@KendrickColeman</a><br>
    	blog: <a href="http://www.kendrickcoleman.com">www.kendrickcoleman.com</a><br></a>
    	halloween forum: <a href="http://www.halloweenforum.com/members/kacole2.html">kacole2</a><br>
    	<br>
    	<br>
    	Contribitor: Steven Bryen	<br>
    	twitter: <a href="http://www.twitter.com/steven_bryen">@steven_bryen</a><br>
    	blog: <a href="http://www.stevenbryen.co.uk">stevenbryen.co.uk</a><br>
    </center>
  	</p>
  </body>
</html>