<% provide(:title, 'Contact') %>

<!DOCTYPE html>
<html>
  <head>
    <title><% :title %>	</title>
  </head>
  <body>
    <h1>Contact Me</h1>
    <p><center>
    	Creator: Kendrick Coleman<br>
    	twitter: <a href="http://www.twitter.com/kendrickcoleman">@KendrickColeman</a><br>
    	blog: <a href="http://www.kendrickcoleman.com">www.kendrickcoleman.com<br>
    	halloween forum: <a href="http://www.halloweenforum.com/members/kacole2.html">kacole2<br>
    </center>
  	</p>
  </body>
</html>