<% provide(:title, 'Help') %>

<!DOCTYPE html>
<html>
  <head>
    <title><% :title %>	</title>
  </head>
  <body>
    <h2>HELP! Zombies are after my brains!</h2>
    <p>
    	I'll put something here when i feel like it's necessary.
    	
  	</p>
  </body>
</html>