<% provide(:title, 'Help') %>

<!DOCTYPE html>
<html>
  <head>
    <title><% :title %>	</title>
  </head>
  <body>
    <h2>HELP! Zombies are after my brains!</h2>
    <br>
    <br>
    <p>
    	<b>Why am I seeing MonsterShield Disconnected?</b><br>
    	This warning label is there to let you know that the MonsterRemote cannot establish a connection to the MonsterShield. To fix this, 
    	go to the <%= link_to 'Pi/Server Settings', :rasberry_pis %> page and try a different communcations port. Choose a communications port 
    	for your type of server. To troubleshoot this, disconnect the MonsterShield and run 'lsusb' from your linux or raspberry pi server. Now connect 
    	your raspberry pi, run 'lsusb', and you will see a new /dev/ device listed. That device is the monstershield. If it's not listed on the dropdown menu, please 
    	contact me and I will help you get it added. You will have a green "MonsterShield Connected" success label if communication is working.
    </p>
    <br>
    <p>
    	<b>Why are there no buttons on the MonsterRemote home page?</b><br>
    	The <%= link_to 'MonsterRemote', :home %> home page responds to the MonsterShield settings page. If the slots are enabled on the settings page, then you will
    	see a button to trigger that slot on the home page. If the buttons are not appearing, go to the Settings -> <%= link_to 'MonsterShield Settings', :scenes %> page and click the refresh button.
    	The refresh button will send a call to the MonsterShield to return back which slots are enabled or disabled.
    	If the settings page has "false" for every slot or slots you know to be configured, click refresh again and then allow the MonsterShield to refresh the MonsterRemote settings.
  	</p>
  	<br>
	<p>
    	<b>Why does my Pi seem slow to respond to my commands?</b><br>
    	Well, you are running on a Raspberry Pi. It's not the Pi that can't understand your commands, it's the MonsterShield that might be running commands
    	 and your request got lost or is in the queue. When slot 0 is set in ambient mode, there is probably more of a chance that something got lost in the mix.
  	</p>
  	
  </body>
</html>