<% provide(:title, 'Sequences') %>

<!DOCTYPE html>
<html>
  <head>
    <title><% :title %>	</title>
  </head>
  <body>
  	<div class="center hero-unit">
    <h1>Sequences</h1>
    <p>
		<% $scenes.each do |scene| %>
      		  <% if scene.enabled == true %>
      		  	<div style="float:left;margin-right:10px;margin-bottom: 10px;">
      		 	<%= button_to (scene.id-1).to_s + ". " + scene.name.to_s, '#', class: "btn btn-large btn-primary" %> 
     		  	</div>
     		  <% end %>
  		<% end %>
  	</p>
    </div>
  </body>
</html>