<% provide(:title, 'Settings') %>
<!DOCTYPE html>
<html>
  <head>
    <title><% :title %>	</title>
  </head>

<h1>Scene Settings</h1>

<body>
	If the scene/sequence is enabled, a button will appear on the MONSTER PUSH home screen. 
	If a scene/sequence is disabled, it removes the button from the home screen. 
	Setting a scene/sequence to disabled does not effect the configuration of the MonsterShield.
		
</body>
<br>
<br>
<table>
	
  <thead>
    <tr>
      <th style="padding-right: 15px">Sequence</th>
      <th style="padding-right: 15px">Name</th>
      <th style="padding-right: 15px">Enabled</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% $scenes.each do |scene| %>
      <tr>
      	<td style="padding-right: 15px"><%= scene.id - 1 %></td>
        <td style="padding-right: 15px"><%= scene.name %></td>
        <td style="padding-right: 15px"><%= scene.enabled %></td>
        <td><%#= link_to 'Show', scene %></td>
        <td><%= link_to 'Edit', edit_scene_path(scene) %></td>
        <td><%#= link_to 'Destroy', scene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Scene', new_scene_path %>
</html>
