<footer class="footer">
  <small>
    <a href="http://kendrickcoleman.com/">Monster Push</a>
    by Kendrick Coleman
  </small>
  <nav>
    <ul>
       <ul class="nav pull-right">
       		<li><%= link_to "About",   pushes_about_path %></li>
       	</ul>
      <ul class="nav pull-right">
      		<li><%= link_to "Contact", pushes_contact_path %></li>
      	</ul>
    </ul>
  </nav>
</footer>