<footer class="footer">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <small>
    <a href="http://kendrickcoleman.com/index.php/Ruby-on-Rails-Projects/introducing-the-monsterremote-for-the-monstershield.html">MonsterRemote</a>
    by Kendrick Coleman
  </small>
  <nav>
    <ul>
       <ul class="nav pull-right">
       		<li><%= link_to "About",   :about %></li>
       	</ul>
      <ul class="nav pull-right">
      		<li><%= link_to "Contact", :contact %></li>
      	</ul>
    </ul>
  </nav>
  </div>
</footer>