 <header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Monster Push", 'index', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Settings",    'settings' %></li>
            </ul>
            <ul class="nav pull-right">
              <li><%= link_to "Help", 'help' %></li>
             </ul>
          </nav>
        </div>
      </div>
    </header>